* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    background-image: url("../images/track.jpg");
}
.main-container{
    font-size: 24px;
}
.jumbotron {
    background: rgba(204, 204, 204, 0.5);
}
/* .letter {
    width: 30px;
    height: 30px;
    border-style: solid; 
    padding: 2px;
    float: left;
    margin: 2px;
}
.letter-button-color {
    color: darkcyan;
}
#display {
    margin-top: 10px;
    height: 30px;
    width: 220px;
    margin-left: 60px;
}
#buttons {
    padding-top: 60px;
}
#clear {
    margin-left: 20px;
    font-size: 25px;
    color: black;
    border-style: solid;
    width: 100px;
}
.space {
    width: 90px;
    height: 30px;
    border-style: solid; 
    padding: 2px;
    float: left;
    margin: 2px;
} */